#clearBoxContainer {
	background-image:url(../cm/Media/images/blkTransparent60.png);
	height: 100%;
	width:100%;
	position:fixed;
	top:0;
	z-index:10000;
	display:none;
}
#clearBoxContent {
	/*background-color:#000;*/
	width:500px;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
}
.responsive-container {
	position: relative; 
	padding-bottom: 56.25%; 
	padding-top: 0px; 
	height: 0; 
	overflow: hidden;
}
#resonsive-Content {
	overflow-y:auto;
}
#clearBoxContent iframe {
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%;
}
.LeftImage a {
	cursor:pointer;
}
#morebutton a {
	cursor:pointer;
}

@media only screen and (max-width : 530px) {
#clearBoxContent {
	width: auto;
	display:block;
}
#clearBoxContent iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
}