#jb-form
	margin-bottom: 20px

div.tabs-wrapper-inner
	height: 45px

ul.tabs li a
	display: inline-block

table.jobs-listed thead tr th
	background-color: #4D525A

#jb-form input
	height: 17px
	padding: 1px 4px 1px 8px

#txt-citystate, #jb-search-submit-btn
	margin-left: -15px

div.widget-inner input.quick-search-widget-submit
	margin-left: 0