/*Dignity Health Jobblaster. */
$orange: #ed7420
$white: #fff
$gray: #4d525a
$black: #000
$khaki: #f1eeeb
$text-color: #666

/*h1, h1 p*/
/*    font-family: arial, tahoma, helvetica, sans-serif !important*/
/*    line-height: 1.1em*/

#centerColContent h4.jb-about-us
    margin-top: 25px
    text-transform: uppercase
    font-weight: normal


/** JOB DETAIL PAGE CONTENT **/
.job-details-info
    margin-bottom: 25px
    & > ul
        padding: 0
        margin: 0
        list-style-type: none
        & > li
            background: none
            padding: 0
    & > table
        border: 0
        padding: 0
        margin: 0
        border-collapse: collapse
        border-spacing: 0

a.jb-apply
    display: block
    text-decoration: none
    background-color: $orange
    border-radius: 5px 6px
    height: 33px
    width: 50%
    color: $white
    font-weight: bold
    line-height: 33px
    vertical-align: middle
    text-align: center
    &:hover
        text-decoration: none

.dh-addthis-widget
    float: right
    
.back-to-search
    float: left
    & > a
        text-decoration: none


/** QUICK SEARCH WIDGET **/
.quick-search-widget
    background-color: $orange
    border: 5px solid $orange

.widget-inner
    background-color: $white
    padding: 5px

.quick-search-widget p.widget-title
    color: $white
    font-weight: bold
    margin: 4px 0
    text-align: center
    text-transform: uppercase

.quick-search-widget form input
    width: 96%
    margin-top: 8px

.quick-search-widget form select
    width: 99%

.quick-search-widget form input[type=submit]
    border: 1px solid $black
    border-radius: 5px 6px
    background-color: $orange
    color: $white
    font-weight: bold
    width: 50%
    text-align: center
    margin-left: 50%
    padding: 3px 0


/** CURRENT OPENINGS **/
.current-openings-widget
    border: none

.current-openings-widget ul
    padding: 0
    margin-left: 0
    margin-top: 20px
    background: none

.current-openings-widget ul li
    margin: 0
    padding: 0
    list-style: none
    background: none
    &.widget-title
        background-color: $gray
        color: $white
        padding: 8px
        font-weight: bold
        text-transform: uppercase
        text-align: center

.current-openings-widget ul li:last-child
    margin-top: 5px
    padding-left: 5px

.current-openings-widget ul.job-listing
    margin-top: 0

.current-openings-widget ul.job-listing li
    font-weight: normal
    border-bottom: 1px dotted $black
    padding: 9px 0 10px 10px
    margin: 0

.current-openings-widget .job-listing li span
    display: block
    font-weight: bold
    &.job-title
        word-wrap: break-word
    &.job-shift
        font-weight: normal
        word-wrap: break-word

.current-openings-widget .job-listing li span a
    text-decoration: none
    color: $text-color
    &:hover
        text-decoration: underline !important


/** Current Openings widget in pt_temp_main_no_accordion_v2 pages (see ucm). **/
div.specialties_image_section div.quick-search-widget
    margin-bottom: 10px
    max-width: 252px

div.specialties_image_section div.current-openings-widget
    max-width: 252px
    text-align: left


/** SEARCH PAGE **/
.jb-container
    width: 100%

#jb-form
    float: left
    width: 100%
    margin-bottom: 45px

.tabs-wrapper
    width: 100%
    background-color: $white

.tab-content-wrapper
    border: 1px solid #000
    width: 100%
    height: auto
    float: left
    background-color: #fff

.tabs-wrapper-inner
    width: 50%
    float: left
    height: 33px

ul.tabs
    margin: 0
    padding: 0
    width: 100%
    margin-top: 4px
    margin-bottom: 6px

ul.tabs li
    background: none
    list-style: none
    display: inline
    padding: 0
    margin: 0

ul.tabs li a
    background-color: $khaki
    color: #000
    padding: 14px 33px 14px 33px
    margin-right: -4px
    text-decoration: none
    font-size: 1em
    font-weight: bold
    text-transform: uppercase
    border: 1px solid $black
    &:hover
        background-color: $gray
        color: $white
    &.active
        background-color: $gray
        color: $white

.geolocation-wrapper
    width: 50%
    float: left
    position: relative

.geolocation-wrapper img
    display: inline-block
    margin-left: 0
    margin-right: 10px
    padding-top: 5px

.geolocation-wrapper div
    display: inline-block

.geolocation-wrapper .location
    width: 57%
    vertical-align: top
    margin-top: -3px

.geolocation-wrapper div.location-change-form-wrapper
    display: none
    vertical-align: top
    position: absolute
    top: -40px

input.use-my-location-btn
    display: block
    margin-left: auto
    margin-right: auto

.tab-content
    display: none

#jb-map
    /*width: 600px*/
    /*height: 351px*/
    width: 85%
    min-height: 450px
    margin: 8px auto
    position: relative

table.jobs-listed
    width: 100%

.dataTables tbody tr
    min-height: 55px

.dataTables thead > tr > th, .dataTables tbody > tr > td
    white-space: nowrap !important

table.jobs-listed tr.alt
    background-color: $khaki

table.jobs-listed tr:hover
    background-color: darken($khaki, 11)

table.jobs-listed thead tr
    background-color: $gray
    color: $white
    &:hover
        background: $gray

#jb-search-results thead th
    padding: 16px 15px 14px 18px !important
    font-weight: bold
    text-align: left
    vertical-align: middle

table.jobs-listed thead th
    &.job-date
        padding-left: 10px

table.jobs-listed td
    color: $black
    padding: 10px 0 10px 0
    border-bottom: 1px solid $gray
    &.job-title
        width: 315px
    &.job-title a
        color: $text-color
        font-weight: bold
        text-decoration: none
    &.job-loc
        font-size: 11px
        line-height: 1.25em
        width: 235px
    &.job-loc a
        color: $black
        text-decoration: none
    &.job-shift
        font-weight: bold
    &.job-shift a
        color: $black
        text-decoration: none

.job-link
    display: block
    height: 36px

.taleo-link
    text-align: right
    padding-right: 10px

table.jobs-listed tfoot td 
    padding: 2px
    background-color: $white
    border-bottom: none

#jb-search-clear-btn
    display: block
    text-align: center
    margin: 15px 0 0 0

.about-search-results
    text-align: center
    clear: both

/*Sort arrows overwrite*/
.sorting_asc
    background: url('../images/sort_up.png') no-repeat left center

.sorting_desc
    background: url('../images/sort_down.png') no-repeat left center

.sorting
    background: url('../images/sort_both.png') no-repeat left center

/* Paging overwrites */
.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active
    font-size: 1.4em
    margin: 0 4px
    padding: 0 5px

.paging_full_numbers
    padding: 4px 0
    width: auto !important

.paging_full_numbers a.first, .paging_full_numbers a.last
    display: inline-block !important

a.previous, a.next
    &:hover
        color: #000 !important

#jb-search-results_info
    font-size: 1.4em
    padding: 5px 10px 8px 0

.jb-row
    clear: both

.jb-form-col
    float: left
    width: 48%
    margin-bottom: 4px

.col-last
    margin-left: 15px

#jb-form input, #jb-form select
    color: $text-color
    background-color: #fff
    padding: 4px 4px 4px 8px
    font-size: 1.3em

#jb-form input
    width: 97%
    height: 26px

#jb-form select
    width: 100%
    height: 38px
    margin: 0 0 6px 0
    vertical-align: baseline
    border: 1px solid #ccc
    background: none
    opacity: 1
    position: relative

#jb-form input[type = checkbox]
    width: 15px
    margin: 10px 7px 0 0

#jb-form input[type = submit]
    height: 33px
    width: 100%
    border-radius: 5px 6px
    background-color: $orange
    color: $white
    font-weight: bold

.employee-check
    display: inline
    font-size: 1.2em

.employee-check span
    position: relative
    vertical-align: bottom
    top: -3px

/* Map styles */
div.map-info-window
    width: 200px
    height: 75px

div.map-info-window span.facility
    font-weight: bold
    display: block
    margin-bottom: 5px

div.map-info-window span.street
    font-weight: normal
    display: block

div.map-info-window span.citystate
    font-weight: normal
    display: block

/** Maintenance notice for search/results page and job detail page. **/
div.maintenance-notice-wrapper
    width: 100%
    margin-top: 15px
    margin-bottom: 15px

div.maintenance-notice
    width: 85%
    border: 1px solid red
    border-radius: 6px
    padding: 5px 15px
    margin-left: auto
    margin-right: auto
    & > p
        font-size: 0.95em
        font-weight: normal

/** MEDIA QUERIES - pulled from default DH css to overwrite some of the rules. **/
@media only screen and (max-width: 640px)
    .col-last
        margin-left: 5px
    ul.tabs li a
        padding: 8px 25px
    .geolocation-wrapper img
        margin-right: 4px
        margin-left: 0
    .geolocation-wrapper .location
        width: 50%

/* iphone 5 landscape */
@media only screen and (max-width: 600px) 
    .jb-form-col
        width: 100%
        margin-bottom: 8px
        float: none
        clear: both

    .col-last
        margin-left: 0
    
    #jb-form input
        width: 97%
    
    #jb-form input[type="checkbox"]
        margin: 0 7px 0 0
    
    #jb-form input[type="submit"]
        margin-top: 12px

    #jb-search-results thead > tr
        height: 40px

    #jb-search-results tbody > tr
        height: 65px

    #jb-search-results thead th.job-shift
        padding-right: 0 !important
    
    ul.tabs
        margin: 0
    
    .tabs-wrapper-inner
        height: 23px
        width: 100%
    
    #jb-map
        width: 526px
    
    table.jobs-listed thead > tr > th
        white-space: nowrap

/* iphone 3,4 landscape */
@media only screen and (min-width: 0px) and (max-width: 480px)
    .jb-form-col
        width: 100%
        margin-bottom: 8px
        float: none
        clear: both
    
    #jb-form input
        width: 97%
    
    #jb-form input[type="checkbox"]
        margin: 0 7px 0 0
    
    #jb-form input[type="submit"]
        margin-top: 12px
    
    #jb-search-results_info
        float: left
        font-size: 1em
        padding: 8px 0 8px 9px

    #jb-search-results thead > tr
        height: 40px
    
    #jb-search-results tbody > tr
        height: 65px
   
    #jb-search-results thead th.job-shift
        padding-right: 0 !important
    
    ul.tabs
        margin: 0
    
    .tabs-wrapper-inner
        height: 23px
        width: 100%
    
    #jb-map
        width: 450px
    
    table.jobs-listed thead > tr > th
        white-space: nowrap

/*iphone portrait */
@media only screen and (min-width: 0px) and (max-width: 320px)
    .jb-form-col
        width: 100%
        float: none
        clear: both
    
    #jb-form input
        width: 95%
    
    ul.tabs
        margin: 0
    
    .tabs-wrapper-inner
        height: 24px
        width: 100%
    
    ul.tabs li a
        padding: 14px
    
    #jb-search-results_info
        float: left
        font-size: 1em

    #jb-search-results thead > tr
        height: 40px
    
    #jb-search-results tbody > tr
        height: 85px
   
    #jb-search-results thead th.job-shift
        padding-right: 0 !important
    
    #jb-map
        width: 286px
    
    table.jobs-listed thead > tr > th
        white-space: nowrap
