/* line 1, ../_sass/ie7.sass */
#jb-form {
  margin-bottom: 20px;
}

/* line 4, ../_sass/ie7.sass */
div.tabs-wrapper-inner {
  height: 45px;
}

/* line 7, ../_sass/ie7.sass */
ul.tabs li a {
  display: inline-block;
}

/* line 10, ../_sass/ie7.sass */
table.jobs-listed thead tr th {
  background-color: #4d525a;
}

/* line 13, ../_sass/ie7.sass */
#jb-form input {
  height: 17px;
  padding: 1px 4px 1px 8px;
}

/* line 17, ../_sass/ie7.sass */
#txt-citystate, #jb-search-submit-btn {
  margin-left: -15px;
}

/* line 20, ../_sass/ie7.sass */
div.widget-inner input.quick-search-widget-submit {
  margin-left: 0;
}
