/*Dignity Health Jobblaster. */
/*h1, h1 p */
/*    font-family: arial, tahoma, helvetica, sans-serif !important */
/*    line-height: 1.1em */
/* line 13, ../_sass/jb.sass */
#centerColContent h4.jb-about-us {
  margin-top: 25px;
  text-transform: uppercase;
  font-weight: normal;
}

/*JOB DETAIL PAGE CONTENT */
/* line 20, ../_sass/jb.sass */
.job-details-info {
  margin-bottom: 25px;
}
/* line 22, ../_sass/jb.sass */
.job-details-info > ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
/* line 26, ../_sass/jb.sass */
.job-details-info > ul > li {
  background: none;
  padding: 0;
}
/* line 29, ../_sass/jb.sass */
.job-details-info > table {
  border: 0;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 36, ../_sass/jb.sass */
a.jb-apply {
  display: block;
  text-decoration: none;
  background-color: #ed7420;
  border-radius: 5px 6px;
  height: 33px;
  width: 50%;
  color: white;
  font-weight: bold;
  line-height: 33px;
  vertical-align: middle;
  text-align: center;
}
/* line 48, ../_sass/jb.sass */
a.jb-apply:hover {
  text-decoration: none;
}

/* line 51, ../_sass/jb.sass */
.dh-addthis-widget {
  float: right;
}

/* line 54, ../_sass/jb.sass */
.back-to-search {
  float: left;
}
/* line 56, ../_sass/jb.sass */
.back-to-search > a {
  text-decoration: none;
}

/*QUICK SEARCH WIDGET */
/* line 61, ../_sass/jb.sass */
.quick-search-widget {
  background-color: #ed7420;
  border: 5px solid #ed7420;
}

/* line 65, ../_sass/jb.sass */
.widget-inner {
  background-color: white;
  padding: 5px;
}

/* line 69, ../_sass/jb.sass */
.quick-search-widget p.widget-title {
  color: white;
  font-weight: bold;
  margin: 4px 0;
  text-align: center;
  text-transform: uppercase;
}

/* line 76, ../_sass/jb.sass */
.quick-search-widget form input {
  width: 96%;
  margin-top: 8px;
}

/* line 80, ../_sass/jb.sass */
.quick-search-widget form select {
  width: 99%;
}

/* line 83, ../_sass/jb.sass */
.quick-search-widget form input[type=submit] {
  border: 1px solid black;
  border-radius: 5px 6px;
  background-color: #ed7420;
  color: white;
  font-weight: bold;
  width: 50%;
  text-align: center;
  margin-left: 50%;
  padding: 3px 0;
}

/*CURRENT OPENINGS */
/* line 96, ../_sass/jb.sass */
.current-openings-widget {
  border: none;
}

/* line 99, ../_sass/jb.sass */
.current-openings-widget ul {
  padding: 0;
  margin-left: 0;
  margin-top: 20px;
  background: none;
}

/* line 105, ../_sass/jb.sass */
.current-openings-widget ul li {
  margin: 0;
  padding: 0;
  list-style: none;
  background: none;
}
/* line 110, ../_sass/jb.sass */
.current-openings-widget ul li.widget-title {
  background-color: #4d525a;
  color: white;
  padding: 8px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

/* line 118, ../_sass/jb.sass */
.current-openings-widget ul li:last-child {
  margin-top: 5px;
  padding-left: 5px;
}

/* line 122, ../_sass/jb.sass */
.current-openings-widget ul.job-listing {
  margin-top: 0;
}

/* line 125, ../_sass/jb.sass */
.current-openings-widget ul.job-listing li {
  font-weight: normal;
  border-bottom: 1px dotted black;
  padding: 9px 0 10px 10px;
  margin: 0;
}

/* line 131, ../_sass/jb.sass */
.current-openings-widget .job-listing li span {
  display: block;
  font-weight: bold;
}
/* line 134, ../_sass/jb.sass */
.current-openings-widget .job-listing li span.job-title {
  word-wrap: break-word;
}
/* line 136, ../_sass/jb.sass */
.current-openings-widget .job-listing li span.job-shift {
  font-weight: normal;
  word-wrap: break-word;
}

/* line 140, ../_sass/jb.sass */
.current-openings-widget .job-listing li span a {
  text-decoration: none;
  color: #666666;
}
/* line 143, ../_sass/jb.sass */
.current-openings-widget .job-listing li span a:hover {
  text-decoration: underline !important;
}

/*Current Openings widget in pt_temp_main_no_accordion_v2 pages (see ucm). */
/* line 148, ../_sass/jb.sass */
div.specialties_image_section div.quick-search-widget {
  margin-bottom: 10px;
  max-width: 252px;
}

/* line 152, ../_sass/jb.sass */
div.specialties_image_section div.current-openings-widget {
  max-width: 252px;
  text-align: left;
}

/*SEARCH PAGE */
/* line 158, ../_sass/jb.sass */
.jb-container {
  width: 100%;
}

/* line 161, ../_sass/jb.sass */
#jb-form {
  float: left;
  width: 100%;
  margin-bottom: 45px;
}

/* line 166, ../_sass/jb.sass */
.tabs-wrapper {
  width: 100%;
  background-color: white;
}

/* line 170, ../_sass/jb.sass */
.tab-content-wrapper {
  border: 1px solid black;
  width: 100%;
  height: auto;
  float: left;
  background-color: white;
}

/* line 177, ../_sass/jb.sass */
.tabs-wrapper-inner {
  width: 50%;
  float: left;
  height: 33px;
}

/* line 182, ../_sass/jb.sass */
ul.tabs {
  margin: 0;
  padding: 0;
  width: 100%;
  margin-top: 4px;
  margin-bottom: 6px;
}

/* line 189, ../_sass/jb.sass */
ul.tabs li {
  background: none;
  list-style: none;
  display: inline;
  padding: 0;
  margin: 0;
}

/* line 196, ../_sass/jb.sass */
ul.tabs li a {
  background-color: #f1eeeb;
  color: black;
  padding: 14px 33px 14px 33px;
  margin-right: -4px;
  text-decoration: none;
  font-size: 1em;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid black;
}
/* line 206, ../_sass/jb.sass */
ul.tabs li a:hover {
  background-color: #4d525a;
  color: white;
}
/* line 209, ../_sass/jb.sass */
ul.tabs li a.active {
  background-color: #4d525a;
  color: white;
}

/* line 213, ../_sass/jb.sass */
.geolocation-wrapper {
  width: 50%;
  float: left;
  position: relative;
}

/* line 218, ../_sass/jb.sass */
.geolocation-wrapper img {
  display: inline-block;
  margin-left: 0;
  margin-right: 10px;
  padding-top: 5px;
}

/* line 224, ../_sass/jb.sass */
.geolocation-wrapper div {
  display: inline-block;
}

/* line 227, ../_sass/jb.sass */
.geolocation-wrapper .location {
  width: 57%;
  vertical-align: top;
  margin-top: -3px;
}

/* line 232, ../_sass/jb.sass */
.geolocation-wrapper div.location-change-form-wrapper {
  display: none;
  vertical-align: top;
  position: absolute;
  top: -40px;
}

/* line 238, ../_sass/jb.sass */
input.use-my-location-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 243, ../_sass/jb.sass */
.tab-content {
  display: none;
}

/* line 246, ../_sass/jb.sass */
#jb-map {
  /*width: 600px */
  /*height: 351px */
  width: 85%;
  min-height: 450px;
  margin: 8px auto;
  position: relative;
}

/* line 254, ../_sass/jb.sass */
table.jobs-listed {
  width: 100%;
}

/* line 257, ../_sass/jb.sass */
.dataTables tbody tr {
  min-height: 55px;
}

/* line 260, ../_sass/jb.sass */
.dataTables thead > tr > th, .dataTables tbody > tr > td {
  white-space: nowrap !important;
}

/* line 263, ../_sass/jb.sass */
table.jobs-listed tr.alt {
  background-color: #f1eeeb;
}

/* line 266, ../_sass/jb.sass */
table.jobs-listed tr:hover {
  background-color: #dad2ca;
}

/* line 269, ../_sass/jb.sass */
table.jobs-listed thead tr {
  background-color: #4d525a;
  color: white;
}
/* line 272, ../_sass/jb.sass */
table.jobs-listed thead tr:hover {
  background: #4d525a;
}

/* line 275, ../_sass/jb.sass */
#jb-search-results thead th {
  padding: 16px 15px 14px 18px !important;
  font-weight: bold;
  text-align: left;
  vertical-align: middle;
}

/* line 282, ../_sass/jb.sass */
table.jobs-listed thead th.job-date {
  padding-left: 10px;
}

/* line 285, ../_sass/jb.sass */
table.jobs-listed td {
  color: black;
  padding: 10px 0 10px 0;
  border-bottom: 1px solid #4d525a;
}
/* line 289, ../_sass/jb.sass */
table.jobs-listed td.job-title {
  width: 315px;
}
/* line 291, ../_sass/jb.sass */
table.jobs-listed td.job-title a {
  color: #666666;
  font-weight: bold;
  text-decoration: none;
}
/* line 295, ../_sass/jb.sass */
table.jobs-listed td.job-loc {
  font-size: 11px;
  line-height: 1.25em;
  width: 235px;
}
/* line 299, ../_sass/jb.sass */
table.jobs-listed td.job-loc a {
  color: black;
  text-decoration: none;
}
/* line 302, ../_sass/jb.sass */
table.jobs-listed td.job-shift {
  font-weight: bold;
}
/* line 304, ../_sass/jb.sass */
table.jobs-listed td.job-shift a {
  color: black;
  text-decoration: none;
}

/* line 308, ../_sass/jb.sass */
.job-link {
  display: block;
  height: 36px;
}

/* line 312, ../_sass/jb.sass */
.taleo-link {
  text-align: right;
  padding-right: 10px;
}

/* line 316, ../_sass/jb.sass */
table.jobs-listed tfoot td {
  padding: 2px;
  background-color: white;
  border-bottom: none;
}

/* line 321, ../_sass/jb.sass */
#jb-search-clear-btn {
  display: block;
  text-align: center;
  margin: 15px 0 0 0;
}

/* line 326, ../_sass/jb.sass */
.about-search-results {
  text-align: center;
  clear: both;
}

/*Sort arrows overwrite */
/* line 331, ../_sass/jb.sass */
.sorting_asc {
  background: url("../images/sort_up.png") no-repeat left center;
}

/* line 334, ../_sass/jb.sass */
.sorting_desc {
  background: url("../images/sort_down.png") no-repeat left center;
}

/* line 337, ../_sass/jb.sass */
.sorting {
  background: url("../images/sort_both.png") no-repeat left center;
}

/* Paging overwrites */
/* line 341, ../_sass/jb.sass */
.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
  font-size: 1.4em;
  margin: 0 4px;
  padding: 0 5px;
}

/* line 346, ../_sass/jb.sass */
.paging_full_numbers {
  padding: 4px 0;
  width: auto !important;
}

/* line 350, ../_sass/jb.sass */
.paging_full_numbers a.first, .paging_full_numbers a.last {
  display: inline-block !important;
}

/* line 354, ../_sass/jb.sass */
a.previous:hover, a.next:hover {
  color: black !important;
}

/* line 357, ../_sass/jb.sass */
#jb-search-results_info {
  font-size: 1.4em;
  padding: 5px 10px 8px 0;
}

/* line 361, ../_sass/jb.sass */
.jb-row {
  clear: both;
}

/* line 364, ../_sass/jb.sass */
.jb-form-col {
  float: left;
  width: 48%;
  margin-bottom: 4px;
}

/* line 369, ../_sass/jb.sass */
.col-last {
  margin-left: 15px;
}

/* line 372, ../_sass/jb.sass */
#jb-form input, #jb-form select {
  color: #666666;
  background-color: white;
  padding: 4px 4px 4px 8px;
  font-size: 1.3em;
}

/* line 378, ../_sass/jb.sass */
#jb-form input {
  width: 97%;
  height: 26px;
}

/* line 382, ../_sass/jb.sass */
#jb-form select {
  width: 100%;
  height: 38px;
  margin: 0 0 6px 0;
  vertical-align: baseline;
  border: 1px solid #cccccc;
  background: none;
  opacity: 1;
  position: relative;
}

/* line 392, ../_sass/jb.sass */
#jb-form input[type=checkbox] {
  width: 15px;
  margin: 10px 7px 0 0;
}

/* line 396, ../_sass/jb.sass */
#jb-form input[type=submit] {
  height: 33px;
  width: 100%;
  border-radius: 5px 6px;
  background-color: #ed7420;
  color: white;
  font-weight: bold;
}

/* line 404, ../_sass/jb.sass */
.employee-check {
  display: inline;
  font-size: 1.2em;
}

/* line 408, ../_sass/jb.sass */
.employee-check span {
  position: relative;
  vertical-align: bottom;
  top: -3px;
}

/* Map styles */
/* line 414, ../_sass/jb.sass */
div.map-info-window {
  width: 200px;
  height: 75px;
}

/* line 418, ../_sass/jb.sass */
div.map-info-window span.facility {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
}

/* line 423, ../_sass/jb.sass */
div.map-info-window span.street {
  font-weight: normal;
  display: block;
}

/* line 427, ../_sass/jb.sass */
div.map-info-window span.citystate {
  font-weight: normal;
  display: block;
}

/*Maintenance notice for search/results page and job detail page. */
/* line 432, ../_sass/jb.sass */
div.maintenance-notice-wrapper {
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

/* line 437, ../_sass/jb.sass */
div.maintenance-notice {
  width: 85%;
  border: 1px solid red;
  border-radius: 6px;
  padding: 5px 15px;
  margin-left: auto;
  margin-right: auto;
}
/* line 444, ../_sass/jb.sass */
div.maintenance-notice > p {
  font-size: 0.95em;
  font-weight: normal;
}

/*MEDIA QUERIES - pulled from default DH css to overwrite some of the rules. */
@media only screen and (max-width: 640px) {
  /* line 450, ../_sass/jb.sass */
  .col-last {
    margin-left: 5px;
  }

  /* line 452, ../_sass/jb.sass */
  ul.tabs li a {
    padding: 8px 25px;
  }

  /* line 454, ../_sass/jb.sass */
  .geolocation-wrapper img {
    margin-right: 4px;
    margin-left: 0;
  }

  /* line 457, ../_sass/jb.sass */
  .geolocation-wrapper .location {
    width: 50%;
  }
}
/* iphone 5 landscape */
@media only screen and (max-width: 600px) {
  /* line 462, ../_sass/jb.sass */
  .jb-form-col {
    width: 100%;
    margin-bottom: 8px;
    float: none;
    clear: both;
  }

  /* line 468, ../_sass/jb.sass */
  .col-last {
    margin-left: 0;
  }

  /* line 471, ../_sass/jb.sass */
  #jb-form input {
    width: 97%;
  }

  /* line 474, ../_sass/jb.sass */
  #jb-form input[type="checkbox"] {
    margin: 0 7px 0 0;
  }

  /* line 477, ../_sass/jb.sass */
  #jb-form input[type="submit"] {
    margin-top: 12px;
  }

  /* line 480, ../_sass/jb.sass */
  #jb-search-results thead > tr {
    height: 40px;
  }

  /* line 483, ../_sass/jb.sass */
  #jb-search-results tbody > tr {
    height: 65px;
  }

  /* line 486, ../_sass/jb.sass */
  #jb-search-results thead th.job-shift {
    padding-right: 0 !important;
  }

  /* line 489, ../_sass/jb.sass */
  ul.tabs {
    margin: 0;
  }

  /* line 492, ../_sass/jb.sass */
  .tabs-wrapper-inner {
    height: 23px;
    width: 100%;
  }

  /* line 496, ../_sass/jb.sass */
  #jb-map {
    width: 526px;
  }

  /* line 499, ../_sass/jb.sass */
  table.jobs-listed thead > tr > th {
    white-space: nowrap;
  }
}
/* iphone 3,4 landscape */
@media only screen and (min-width: 0px) and (max-width: 480px) {
  /* line 504, ../_sass/jb.sass */
  .jb-form-col {
    width: 100%;
    margin-bottom: 8px;
    float: none;
    clear: both;
  }

  /* line 510, ../_sass/jb.sass */
  #jb-form input {
    width: 97%;
  }

  /* line 513, ../_sass/jb.sass */
  #jb-form input[type="checkbox"] {
    margin: 0 7px 0 0;
  }

  /* line 516, ../_sass/jb.sass */
  #jb-form input[type="submit"] {
    margin-top: 12px;
  }

  /* line 519, ../_sass/jb.sass */
  #jb-search-results_info {
    float: left;
    font-size: 1em;
    padding: 8px 0 8px 9px;
  }

  /* line 524, ../_sass/jb.sass */
  #jb-search-results thead > tr {
    height: 40px;
  }

  /* line 527, ../_sass/jb.sass */
  #jb-search-results tbody > tr {
    height: 65px;
  }

  /* line 530, ../_sass/jb.sass */
  #jb-search-results thead th.job-shift {
    padding-right: 0 !important;
  }

  /* line 533, ../_sass/jb.sass */
  ul.tabs {
    margin: 0;
  }

  /* line 536, ../_sass/jb.sass */
  .tabs-wrapper-inner {
    height: 23px;
    width: 100%;
  }

  /* line 540, ../_sass/jb.sass */
  #jb-map {
    width: 450px;
  }

  /* line 543, ../_sass/jb.sass */
  table.jobs-listed thead > tr > th {
    white-space: nowrap;
  }
}
/*iphone portrait */
@media only screen and (min-width: 0px) and (max-width: 320px) {
  /* line 548, ../_sass/jb.sass */
  .jb-form-col {
    width: 100%;
    float: none;
    clear: both;
  }

  /* line 553, ../_sass/jb.sass */
  #jb-form input {
    width: 95%;
  }

  /* line 556, ../_sass/jb.sass */
  ul.tabs {
    margin: 0;
  }

  /* line 559, ../_sass/jb.sass */
  .tabs-wrapper-inner {
    height: 24px;
    width: 100%;
  }

  /* line 563, ../_sass/jb.sass */
  ul.tabs li a {
    padding: 14px;
  }

  /* line 566, ../_sass/jb.sass */
  #jb-search-results_info {
    float: left;
    font-size: 1em;
  }

  /* line 570, ../_sass/jb.sass */
  #jb-search-results thead > tr {
    height: 40px;
  }

  /* line 573, ../_sass/jb.sass */
  #jb-search-results tbody > tr {
    height: 85px;
  }

  /* line 576, ../_sass/jb.sass */
  #jb-search-results thead th.job-shift {
    padding-right: 0 !important;
  }

  /* line 579, ../_sass/jb.sass */
  #jb-map {
    width: 286px;
  }

  /* line 582, ../_sass/jb.sass */
  table.jobs-listed thead > tr > th {
    white-space: nowrap;
  }
}
